h3 {
    text-align: center;
    font-size: 50px;
    background-color: aqua;
    color: gray;
    width: 100%;
    height: 100px;
    position: sticky;
    text-decoration: underline;
    font-style: italic;
}

.box1 {
    background-color: aquamarine;
    height: 150px;
    width: 200px;
}

.box2 {
    background-color: cornflowerblue;
    float: right;
    position: relative;
    right: 60%;
    top: 10px;
    height: 300px;
    width: 550px;

}

.box3 {
    background-color: fuchsia;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 90px;
    right: 2px;
    ;
}